.sidebar-container {
  margin-top: -17px;
  height: 705px;
  width: 160px;
  background-color: rgb(249, 250, 253);
}

.homepage-container {
  width: 1150px;
  height: 689px;
  margin-top: -7px;
  margin-left: -40px;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  background-color: rgb(253, 254, 255);
}

h1 {
  color: rgb(20, 70, 145);
}

p {
  color: rgb(163, 159, 159);
}

.icon-navbar img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.activities-container {
  border-radius: 20px;
  width: 450px;
  height: 250px;
}

.statistic-container {
  padding: 5px;
  border-radius: 20px;
  width: 320px;
  height: 185px;
  background-color: rgb(249, 250, 253);
}

.card-info-container {
  border-radius: 20px;
  width: 250px;
  height: 195px;
  background-color: rgb(249, 250, 253);
}

.transaction-container {
  border-radius: 20px;
  width: 448px;
  height: 160px;
  overflow: hidden;
}

.goals-budget-container {
  padding: 5px;
  border-radius: 20px;
  width: 320px;
  height: 150px;
  background-color: rgb(249, 250, 253);
}

.sub {
  margin-left: 10px;
}

.scroolbar-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
}
